# Node modules
node_modules

# Environment variables (DO NOT COMMIT)
.env
.env.local
.env.development
.env.production
.env.test

# Next.js build output
.next
out

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
